@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none;
}

h2 {
  padding: 2rem 0;
}

i {
  padding: 0 10px;
}

.social-contacts {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.home-container {
  height: 100vh;
  padding-bottom: 2rem;
}

.work-container {
  min-height: 100vh;
  padding-bottom: 2rem;
}

.contact-container {
  height: 80vh;
  min-height: 600px;
  padding-bottom: 2rem;
}

.home {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  /* background: lightcoral; */
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #333;
  border-radius: 4px;
  padding: 2px 6px;
}

.link:hover {
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.more-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.github-link {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech {
  display: flex;
  gap: 5px;
}

.max-container {
  width: 100%;
  max-width: calc(64rem + 20px);
  margin: 0 auto;
}

.form-fields {
  padding-bottom: 1rem;
}

.btn-contact {
  font-size: large;
  margin: 0 auto;
  padding: 6px 18px;
  outline: none;
  border: none;
}

/* .footer {
  background: lightcoral;
} */